ADwin
autopep8
contourpy
control
cycler
fonttools
joblib
keyboard
kiwisolver
matplotlib
numpy
opencv-python
packaging
peakdetect
Pillow
pycodestyle
pyparsing
PyQt5
PyQt5-Qt5
PyQt5-sip
pyserial
python-dateutil
scikit-learn
scipy
six
threadpoolctl
tomli